 body{

   background-color: yellow;
 }




 .c{

 background-color: black;
 width: 500px;
 height: 250px;
 }


 .a{
 background-color: red;
width: 500px;
height: 250px;
margin:0px 0px 0px 500px;
border: solid 20px;
 }


 .b{
   background-color: blue;
   width: 500px;
   height: 250px;
   margin:0px 0px 0px 1040px;
   border: solid 10px;
 }
