 body{

   background-image: url('D:\Atom\images\mountain.jpg');
 }



 .c{

 background-color: black;
 width: 500px;
 height: 250px;
  display: inline-block;
 position: fixed;
 left: 300px;
 color: white;

 }


 .a{
 background-color: red;
width: 200px;
height: 250px;

border: solid 20px;
display: inline-block;
position: relative;
right: 500px
 }


 .b{
   background-color: blue;
   width: 200px;
   height: 250px;
   border: solid 10px;
   display: inline-block;
   position: relative;
 }
